<main class="welcome">
    <h1> Posts: </h1>
    <div class="displayUsers">
        <ul class="usersUl">
            <li class="usersLi" *ngFor="let post of posts.items">
                {{post.name}}
                {{post.type_content}}
                {{post.price}}
                {{post.destination}}
                {{post.smoking}}
                {{post.wi_fi}}
                {{post.description}}
                {{post.rating}}
                {{post.mobile_phone}}
                {{post.price}}
                <button class="deleteUser" (click)="deletePost(post.id)">x</button>
            </li>
        </ul>
    </div>
</main>