<main class="posts">

    <div class="addPost">
        <button class="button" (click)="showForm()">Add post</button>
        <form *ngIf=isAdded class="form">
            <label for="type_content">Type content: </label>
            <select name="type_content" [(ngModel)]="type_content">
                <option>hotel</option>
                <option>restaurant</option>
                <option>entertainment</option>
            </select>
    
            <div *ngIf=checkHotel() class="check">
                <label for="whatIsIt">Subtype: </label>
                <select name="whatIsIt" [(ngModel)]="whatIsIt">
                    <option>Hotel</option>
                    <option>Motel</option>
                    <option>Flat</option>
                    <option>Hostel</option>
                </select>
            </div>
    
            <div *ngIf=checkRestaurant() class="check">
                <label for="whatIsIt">Subtype: </label>
                <select name="whatIsIt" [(ngModel)]="whatIsIt">
                    <option>Restaurants</option>
                    <option>Cafes</option>
                    <option>Snack-bars</option>
                    <option>Pubs</option>
                </select>
            </div>
    
            <div *ngIf=checkEntertainment() class="check">
                <label for="whatIsIt">Subtype: </label>
                <select name="whatIsIt" [(ngModel)]="whatIsIt">
                    <option>Cinema</option>
                    <option>Theatre</option>
                    <option>Active Rest</option>
                    <option>Passive Rest</option>
                </select>
            </div>

            <label for="wi_fi">WiFi: </label>
            <select name="wi_fi" [(ngModel)]="wi_fi">
                <option>true</option>
                <option>false</option>
            </select>
    
            <label for="smoking">Smoking: </label>
            <select name="smoking" [(ngModel)]="smoking">
                <option>true</option>
                <option>false</option>
            </select>
    
            <label for="name">Name: </label>
            <input name="name" [(ngModel)]="name">
    
            <label for="description">Description: </label>
            <input name="description" [(ngModel)]="description">
    
            <label for="rating">Rating: </label>
            <input name="rating" [(ngModel)]="rating">
    
            <label for="mobile_phone">Mobile phone: </label>
            <input name="mobile_phone" [(ngModel)]="mobile_phone">
    
            <label for="image">Image url: </label>
            <input name="image" [(ngModel)]="image">
    
            <label for="price">Price: </label>
            <input name="price" [(ngModel)]="price">
    
            <label for="destination">Destination: </label>
            <input name="destination" [(ngModel)]="destination">
                    
            <button class="btn" type="submit" (click)="createPost()">Add</button>
        </form>
    </div>

    <div class="container">
        <h1 class="h1_users">Posts:</h1>
            <ol class="list-group">
                <li class="list-group-item" *ngFor="let post of posts.items">
                    <h4 class="list-group-item-heading">{{post.name}}</h4>
                    <p class="list-group-item-text">
                        Type: {{post.type_content}}
                    </p>
                    <p class="list-group-item-text">
                        Subtype: {{post.whatIsIt}}
                    </p>
                    <p class="list-group-item-text">
                        Destination: {{post.destination}}
                    </p>
                    <p class="list-group-item-text">
                        Smoking: {{post.smoking}}
                    </p>
                    <p class="list-group-item-text">
                        Wi_fi: {{post.wi_fi}}
                    </p>
                    <p class="list-group-item-text">
                        Description: {{post.description}}
                    </p>
                    <p class="list-group-item-text">
                        Rating: {{post.rating}}
                    </p>
                    <p class="list-group-item-text">
                        Mobile phone: {{post.mobile_phone}}
                    </p>
                    <p class="list-group-item-text">
                        Image url: {{post.image}}
                    </p>
                    <p class="list-group-item-text">
                        Price: {{post.price}}
                    </p>
                <button class="badge badge-danger badge-pill" (click)="deletePost(post.id)">x</button>
            </li>
        </ol>
    </div>
</main>