.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.check {
    display: flex;
    flex-direction: column;
}

.h1_users {
    margin-top: 30px;
}

.badge {
    font-size: 18px;
    float: right;
    margin-top: -30px;
}

.list-group-item {
    margin-bottom: 15px;
    border-radius: 6px;
}

.list-group-item-text {
    font-size: 17px;
}

.list-group-item-heading {
    margin-bottom: 20px;
}

button:focus, .badge:focus, .form-control:focus {
    outline: 0;
}

.button {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 5px 5px #888888;
    border: 1px solid black;
}

.button:hover, .btn:hover {
    box-shadow: 5px 5px #f3f3f3;
    cursor: pointer;
}

.btn {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    box-shadow: 5px 5px #888888;
    border: 1px solid black;
}

.addPost {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 70px;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-size: 17px;
}