@import url('https://fonts.googleapis.com/css?family=Acme|Lobster&display=swap');

.navbar {
    font-family: 'Acme', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.6;
    z-index: 1;
    border: 2px solid black;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.6;
}

.navbar .navbarLi {
    float: left;
}

.navbarLi {
    color: black;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-cng{
    display: flex;		    
    justify-content: flex-end;		   
    text-align: center;		 
    align-items: center;		
    padding-right: 15px;		
}

.navbarLi a:hover{
    background-color: #9da6b5;
    cursor: pointer;
}

.nav-cng .navbarLi a:hover {
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.logo {
    width: 45px;
    height: 45px;
    margin: 10px;
}

.nav-cng{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    padding-right: 15px;
}

.navbarLi:hover{
    cursor: pointer;
    background-color: #9da6b5;
}